.main {
  background-color: #fff;
  row-gap: 100px;
  padding-block: 100px;
  padding-inline: 20px;
  display: grid;
}

@media (width >= 576px) {
  .main {
    padding-inline: 72px;
  }
}

@media (width >= 1024px) {
  .main {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

@media (width >= 576px) {
  .main {
    row-gap: 140px;
    padding-block: 140px;
  }
}

.product__photo {
  width: 100%;
}

.product__title {
  text-align: center;
  color: #d12d35;
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
}

.product__category {
  text-align: center;
  color: #161616;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.explore-online__products {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 48px 24px;
  font-size: 16px;
  display: grid;
}

@media (width >= 576px) {
  .explore-online__products {
    --columns: 6;
  }
}

@media (width >= 1024px) {
  .explore-online__products {
    --columns: 12;
  }
}

.explore-online__product {
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .explore-online__product {
    grid-column: 2 / -2;
  }
}

@media (width >= 1024px) {
  .explore-online__product {
    grid-column: span 4;
  }
}

.menu {
  box-sizing: border-box;
  text-transform: uppercase;
  background-color: #d12d35;
  height: 100vh;
  font-weight: 700;
  overflow: auto;
}

.menu__top {
  z-index: 1;
  margin-bottom: 15px;
  position: sticky;
  top: 0;
}

.menu__content {
  padding-inline: 20px;
}

@media (width >= 576px) {
  .menu__content {
    padding-inline: 72px;
  }
}

@media (width >= 1024px) {
  .menu__content {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.menu__nav {
  margin-bottom: 32px;
}

@media (width >= 1024px) {
  .menu__nav {
    margin-bottom: 48px;
  }
}

.menu__text {
  color: #fff;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 27px;
}

.menu__phone-number {
  color: #fff;
  text-align: left;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 27px;
  text-decoration: none;
  display: block;
}

.menu__call-to-order {
  color: #fff;
  letter-spacing: 2px;
  text-align: left;
  border-bottom: 1px solid #fff;
  width: fit-content;
  padding-bottom: 7px;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  display: block;
}

.nav__list {
  flex-direction: column;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav__link {
  color: #fff;
  letter-spacing: 2px;
  text-align: left;
  font-size: 22px;
  line-height: 22px;
  text-decoration: none;
  position: relative;
}

.nav__link:after {
  content: "";
  transform-origin: 0;
  background-color: #fff;
  width: 100%;
  height: 1px;
  transition: transform .3s;
  display: block;
  position: absolute;
  bottom: -8px;
  transform: scale(0);
}

.nav__link:hover:after {
  transform: scale(1);
}

.about-us {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 24px;
  font-size: 16px;
  display: grid;
}

@media (width >= 576px) {
  .about-us {
    --columns: 6;
  }
}

@media (width >= 1024px) {
  .about-us {
    --columns: 12;
  }
}

.about-us__container-text {
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .about-us__container-text {
    grid-column: 1 / 4;
  }
}

@media (width >= 1024px) {
  .about-us__container-text {
    grid-column: 1 / 6;
  }
}

.about-us__content {
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .about-us__content {
    grid-column: 4 / -1;
  }
}

@media (width >= 1024px) {
  .about-us__content {
    grid-column: 6 / -1;
  }
}

.about-us__title {
  text-align: left;
  grid-column: 1 / -1;
}

.about-us__content__title {
  grid-column: 1 / -1;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.about-us__content__date-and-time {
  grid-template-columns: repeat(2, auto);
  column-gap: 24px;
  display: grid;
}

.about-us__content__time {
  row-gap: 8px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 27px;
  list-style: none;
  display: grid;
}

.about-us__content__date {
  text-align: left;
  row-gap: 8px;
  margin: 0;
  padding: 0;
  line-height: 27px;
  list-style: none;
  display: grid;
}

.about-us__content--closed-on {
  margin: 16px 0 0;
  font-weight: 700;
}

.about-us__content--closed-days {
  margin: 0 0 24px;
}

.section-title.about-us__title {
  text-align: left;
  margin: 0 0 8px;
}

.section-title--up {
  color: #d12d35;
  margin: 0 0 2px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16.8px;
}

.header {
  box-sizing: border-box;
  background-image: url("header-bg.8ec50a9a.png");
  background-position: center;
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  display: flex;
}

.header__title {
  color: #fff;
  letter-spacing: -1.5px;
  text-align: center;
  margin-top: 129px;
  font-family: inherit;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

@media (width >= 576px) {
  .header__title {
    margin-top: 91px;
    font-size: 64px;
    line-height: 64px;
  }
}

@media (width >= 1024px) {
  .header__title {
    margin-top: 31px;
    font-size: 80px;
    line-height: 80px;
  }
}

.header .header__desktop {
  display: none;
}

@media (width >= 1024px) {
  .header .header__desktop {
    background-image: url("icon-phone.217bf46b.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
    margin-top: 11px;
    transition: transform .3s;
    display: block;
    position: relative;
  }

  .header .header__desktop:hover {
    transform: scale(1.2);
  }

  .header .header__desktop .header__contacts {
    text-align: end;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    width: max-content;
    height: 80px;
    transition: opacity, visibility .3ms;
    position: absolute;
    top: 50%;
    right: 150%;
    transform: translate(0, -50%);
  }

  .header .header__desktop:hover .header__contacts {
    opacity: 1;
    visibility: visible;
  }
}

.top-bar {
  justify-content: space-between;
  padding-block: 25px;
  padding-inline: 20px;
  display: flex;
}

@media (width >= 576px) {
  .top-bar {
    padding-inline: 72px;
  }
}

@media (width >= 1024px) {
  .top-bar {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

@media (width >= 576px) {
  .top-bar {
    padding-block: 50px;
  }
}

@media (width >= 1024px) {
  .top-bar {
    padding-block: 52px;
  }
}

.top-bar__logo-link {
  width: 64px;
  height: 46px;
  transition: transform .3s;
  display: flex;
}

.top-bar__logo-link:hover {
  transform: scale(1.2);
}

@media (width >= 576px) {
  .top-bar__logo-link {
    width: 87px;
    height: 65px;
  }
}

@media (width >= 1024px) {
  .top-bar__logo-link {
    width: 87px;
    height: 65px;
  }
}

.top-bar__icons {
  gap: 24px;
  display: flex;
}

.icon {
  background-size: cover;
  width: 24px;
  height: 24px;
  margin-top: 11px;
  transition: transform .3s;
  display: block;
}

.icon:hover {
  transform: scale(1.2);
}

@media (width >= 576px) {
  .icon {
    width: 32px;
    height: 32px;
  }
}

@media (width >= 1024px) {
  .icon {
    width: 32px;
    height: 32px;
  }
}

.icon--phone {
  background-image: url("icon-phone.217bf46b.png");
}

@media (width >= 1024px) {
  .icon--phone {
    display: none;
  }
}

.icon--phone--active__title {
  color: #fff;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}

.icon--phone--active__number {
  color: #fff;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-decoration: none;
}

.icon--menu {
  background-image: url("icon-burger-menu.95976320.png");
}

.icon--menu:hover {
  background-image: url("icon-burger-menu-hover.85d55bb4.png");
}

.icon--close {
  background-image: url("icon-close.6f3ede5c.png");
}

.gallery__wrapper {
  row-gap: 48px;
  display: grid;
}

@media (width >= 576px) {
  .gallery__wrapper {
    row-gap: 64px;
  }
}

.gallery__btn {
  cursor: pointer;
  width: 100%;
  margin-top: 48px;
  position: relative;
}

@media (width >= 576px) {
  .gallery__btn {
    width: 392px;
    margin: 40px auto 0;
    display: block;
  }
}

.category__title {
  color: #d12d35;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}

.category__title--date {
  color: #161616;
  margin: 0;
  font-weight: 400;
}

.category__photos {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 24px;
  margin-bottom: 24px;
  font-size: 16px;
  display: grid;
}

@media (width >= 576px) {
  .category__photos {
    --columns: 6;
  }
}

@media (width >= 1024px) {
  .category__photos {
    --columns: 12;
  }
}

.category__photos--medium {
  --columns: 3;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 8px;
  margin-bottom: 24px;
  font-size: 16px;
  display: grid;
}

@media (width >= 576px) {
  .category__photos--medium {
    --columns: 6;
  }
}

@media (width >= 1024px) {
  .category__photos--medium {
    --columns: 12;
  }
}

@media (width >= 576px) {
  .category__photos--medium {
    --columns: 6;
  }
}

@media (width >= 1024px) {
  .category__photos--medium {
    --columns: 12;
  }
}

.category__photo {
  object-fit: cover;
  object-position: left;
  width: 100%;
  height: 100%;
  transition: transform .3s;
  position: absolute;
}

.category__photo:hover {
  transform: scale(1.05);
}

.category__link {
  position: relative;
}

@media (width >= 576px) {
  .category__link--wide {
    grid-column: span 4;
  }
}

@media (width >= 1024px) {
  .category__link--wide {
    grid-column: span 8;
  }
}

.category__link--square {
  height: 0;
  padding-bottom: 100%;
}

@media (width >= 576px) {
  .category__link--square {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  .category__link--square {
    grid-column: span 4;
  }
}

.category__link--square--medium {
  height: 0;
  padding-bottom: 100%;
}

@media (width >= 576px) {
  .category__link--square--medium {
    grid-column: span 3;
  }
}

@media (width >= 1024px) {
  .category__link--square--medium {
    grid-column: span 4;
  }
}

.category__link--square--medium:last-child {
  display: block;
}

@media (width >= 576px) {
  .category__link--square--medium:last-child {
    display: none;
  }
}

@media (width >= 1024px) {
  .category__link--square--medium:last-child {
    display: block;
  }
}

.section-title {
  letter-spacing: -1.5px;
  text-align: center;
  margin: 0 0 48px;
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
}

@media (width >= 576px) {
  .section-title {
    font-size: 48px;
  }
}

@media (width >= 1024px) {
  .section-title {
    font-size: 48px;
  }
}

.section-title__galery {
  margin: 0;
}

.section-title__galery-small {
  color: #161616;
  text-align: center;
  margin: 8px 0 48px;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.contacts__content {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 24px;
  font-size: 16px;
  display: grid;
}

@media (width >= 576px) {
  .contacts__content {
    --columns: 6;
  }
}

@media (width >= 1024px) {
  .contacts__content {
    --columns: 12;
  }
}

.contacts__content-first {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-column: span 2;
  column-gap: 24px;
  margin-bottom: 48px;
  font-size: 16px;
  display: grid;
}

@media (width >= 576px) {
  .contacts__content-first {
    --columns: 6;
  }
}

@media (width >= 1024px) {
  .contacts__content-first {
    --columns: 12;
  }
}

@media (width >= 576px) {
  .contacts__content-first {
    grid-column: span 3;
  }
}

@media (width >= 1024px) {
  .contacts__content-first {
    grid-column: span 6;
  }
}

.contacts__content-first-details {
  grid-column: span 2;
  margin-bottom: 48px;
}

@media (width >= 576px) {
  .contacts__content-first-details {
    grid-column: 1 / -1;
    margin-bottom: 48px;
  }
}

@media (width >= 1024px) {
  .contacts__content-first-details {
    grid-column: span 6;
  }
}

.contacts__content-second {
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .contacts__content-second {
    grid-column: span 3;
  }
}

@media (width >= 1024px) {
  .contacts__content-second {
    grid-column: 8 / -1;
  }
}

.contacts__content-first__title {
  margin: 0 0 16px;
}

@media (width >= 576px) {
  .contacts__content-first__title {
    margin: 0;
  }
}

.contacts__links-hover {
  transition: transform .3s;
}

.contacts__links-hover:hover {
  transform: scale(1.05);
}

.contacts__text-first {
  color: #161616;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-decoration: none;
}

.contacts__text-second {
  margin: 8px 0 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
}

.form__field {
  background-color: #f8f8fa;
  border: 1px solid #fff;
  outline: none;
  width: 100%;
  padding-left: 2%;
  font-family: Cinzel, Roboto, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.form__field::placeholder {
  color: #7e7e83;
}

.form__field:hover::placeholder {
  color: #161616;
}

.form__field:hover {
  border: 1px solid #d5d7de;
}

.form__field:active, .form__field:focus {
  border: 1px solid #161616;
}

.form__field--input {
  height: 48px;
  margin-bottom: 16px;
}

.form__field--text {
  resize: none;
  height: 144px;
  margin-bottom: 32px;
  padding-top: 14px;
}

.form__btn {
  width: 100%;
}

.form__btn:hover {
  cursor: pointer;
}

.footer {
  z-index: -1;
  background-image: url("footer-bg.6bd054ae.png");
  background-position: center;
  background-size: cover;
  height: 180px;
  position: sticky;
  bottom: 0;
}

@media (width >= 576px) {
  .footer {
    height: 359px;
  }
}

@media (width >= 1024px) {
  .footer {
    height: 359px;
  }
}

.btn {
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  background-color: #d12d35;
  border: none;
  outline: none;
  height: 56px;
  font-family: Cinzel, Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 56px;
}

.btn:hover, .btn:focus {
  background-color: #ae1c23;
  transition: transform .3s;
}

.btn:hover:hover, .btn:focus:hover {
  transform: scale(1.05);
}

.btn:active {
  background-color: #eb343d;
}

.btn--secondary {
  color: #fff;
  background-color: #0000;
}

.btn--secondary:focus, .btn--secondary:active, .btn--secondary:hover {
  background-color: #0000;
}

.btn--secondary:hover {
  border-bottom: 1px solid #fff;
}

.page {
  scroll-behavior: smooth;
  font-family: Cinzel, serif;
}

.page__body {
  margin: 0;
}

.page__menu {
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(100%);
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}

.page:has(.page__menu:target) {
  overflow: hidden;
}
/*# sourceMappingURL=index.38ec9247.css.map */
